# =============================================
# MS-1: Auth & Users — Variables de Entorno
# =============================================
# Copiar este archivo como .env y completar los valores

# Django
SECRET_KEY=cambiar-en-produccion-usar-clave-segura
DEBUG=True
ALLOWED_HOSTS=*

# Base de datos MySQL
DB_HOST=db-auth
DB_PORT=3306
DB_NAME=agm_auth_db
DB_USER=root
DB_PASSWORD=root_password
DB_CHARSET=utf8mb4

# Puertos del servicio
REST_PORT=8001
GRPC_PORT=50051

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# gRPC hacia otros MS
MS_NOTIFICACIONES_GRPC_HOST=ms-notificaciones
MS_NOTIFICACIONES_GRPC_PORT=50056

# Admin por defecto (se crea en el primer arranque)
ADMIN_EMAIL=admin@agm.buap.mx
ADMIN_PASSWORD=admin123
