# =============================================
# MS-2: Periodos & Materias — Variables de Entorno
# =============================================
SECRET_KEY=cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=*

DB_HOST=db-periodos
DB_PORT=3306
DB_NAME=agm_periodos_db
DB_USER=root
DB_PASSWORD=root_password

REST_PORT=8002
GRPC_PORT=50052

# gRPC hacia otros MS
MS_AUTH_GRPC_HOST=ms-auth
MS_AUTH_GRPC_PORT=50051
MS_ALUMNOS_GRPC_HOST=ms-alumnos
MS_ALUMNOS_GRPC_PORT=50053
