# =============================================
# MS-3: Docentes & Alumnos — Variables de Entorno
# =============================================
SECRET_KEY=cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=*
SERVICE_NAME=ms-alumnos
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://localhost:8080,http://127.0.0.1:8080

DB_HOST=db-alumnos
DB_PORT=3306
DB_NAME=agm_alumnos_db
DB_USER=root
DB_PASSWORD=root_password
DB_CHARSET=utf8mb4

REST_PORT=8003
GRPC_PORT=50053

# gRPC hacia otros MS
MS_AUTH_GRPC_HOST=ms-auth
MS_AUTH_GRPC_PORT=50051
MS_PERIODOS_GRPC_HOST=ms-periodos
MS_PERIODOS_GRPC_PORT=50052
MS_NOTIFICACIONES_GRPC_HOST=ms-notificaciones
MS_NOTIFICACIONES_GRPC_PORT=50056
GRPC_CLIENT_TIMEOUT=5
