<nav class="bottom-nav">

  <a routerLink="/docente/dashboard" routerLinkActive="active">
    <i class="bi bi-house-door"></i>
    <span>Inicio</span>
  </a>

  <a routerLink="/docente/materias" routerLinkActive="active">
    <i class="bi bi-book"></i>
    <span>Materias</span>
  </a>

  <!-- <a routerLink="/docente/calificaciones" routerLinkActive="active">
    <i class="bi bi-star"></i>
    <span>Calificaciones</span>
  </a> -->

  <a routerLink="/docente/asistencias" routerLinkActive="active">
    <i class="bi bi-card-checklist"></i>
    <span>Pasar Lista</span>
  </a>

<a
  routerLink="/docente/reportes"
  routerLinkActive="active"
>
  <i class="bi bi-bar-chart"></i>
  <span>Reportes</span>
</a>

</nav>