<nav class="bottom-nav">

  <a routerLink="/alumno/dashboard" routerLinkActive="active">
    <i class="bi bi-house-door"></i>
    <span>Inicio</span>
  </a>

  <a routerLink="/alumno/notas" routerLinkActive="active">
    <i class="bi bi-star"></i>
    <span>Notas</span>
  </a>

  <a routerLink="/alumno/qr" routerLinkActive="active">
    <i class="bi bi-qr-code"></i>
    <span>QR</span>
  </a>

  <a routerLink="/alumno/horario" routerLinkActive="active">
    <i class="bi bi-calendar3"></i>
    <span>Horario</span>
  </a>

  <a routerLink="/alumno/perfil" routerLinkActive="active">
    <i class="bi bi-person"></i>
    <span>Perfil</span>
  </a>

</nav>