# =============================================
# MS-7: Reportes & Estadísticas — Variables de Entorno
# =============================================
SECRET_KEY=cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=*
SERVICE_NAME=ms-reportes
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://localhost:8080,http://127.0.0.1:8080

DB_HOST=db-reportes
DB_PORT=3306
DB_NAME=agm_reportes_db
DB_USER=root
DB_PASSWORD=root_password
DB_CHARSET=utf8mb4

REST_PORT=8007
GRPC_PORT=50057

# gRPC hacia otros MS
MS_AUTH_GRPC_HOST=ms-auth
MS_AUTH_GRPC_PORT=50051
MS_PERIODOS_GRPC_HOST=ms-periodos
MS_PERIODOS_GRPC_PORT=50052
MS_ALUMNOS_GRPC_HOST=ms-alumnos
MS_ALUMNOS_GRPC_PORT=50053
MS_CALIFICACIONES_GRPC_HOST=ms-calificaciones
MS_CALIFICACIONES_GRPC_PORT=50054
MS_ASISTENCIAS_GRPC_HOST=ms-asistencias
MS_ASISTENCIAS_GRPC_PORT=50055

GRPC_CLIENT_TIMEOUT=5
GRPC_CLIENT_TIMEOUT_CALIFICACIONES=30
# false en Docker/producción; true solo desarrollo aislado sin MS-4/MS-5
USE_MOCK_DATA=False
STATS_ALUMNO_MATERIA_IDS=1
ESTADISTICAS_DOCENTE_MAX_MATERIAS=50
