# =============================================
# MS-5: Asistencias QR — Variables de Entorno
# =============================================
SECRET_KEY=cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=*
SERVICE_NAME=ms-asistencias
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://localhost:8080,http://127.0.0.1:8080

DB_HOST=db-asistencias
DB_PORT=3306
DB_NAME=agm_asistencias_db
DB_USER=root
DB_PASSWORD=root_password
DB_CHARSET=utf8mb4

REST_PORT=8005
GRPC_PORT=50055

# Redis (sesiones QR en vivo)
REDIS_HOST=redis
REDIS_PORT=6379

# Clave secreta para firmar tokens QR (HMAC)
QR_HMAC_SECRET=clave-secreta-para-hmac-cambiar-en-produccion

# gRPC hacia otros MS
MS_AUTH_GRPC_HOST=ms-auth
MS_AUTH_GRPC_PORT=50051
MS_ALUMNOS_GRPC_HOST=ms-alumnos
MS_ALUMNOS_GRPC_PORT=50053
