# =============================================
# MS-5: Asistencias QR — Variables de Entorno
# =============================================
SECRET_KEY=cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=*

DB_HOST=db-asistencias
DB_PORT=3306
DB_NAME=agm_asistencias_db
DB_USER=root
DB_PASSWORD=root_password

REST_PORT=8005
GRPC_PORT=50055

# Redis (sesiones QR en vivo)
REDIS_HOST=redis
REDIS_PORT=6379

# Clave secreta para firmar tokens QR (HMAC)
QR_HMAC_SECRET=clave-secreta-para-hmac-cambiar-en-produccion

# gRPC hacia otros MS
MS_AUTH_GRPC_HOST=ms-auth
MS_AUTH_GRPC_PORT=50051
MS_ALUMNOS_GRPC_HOST=ms-alumnos
MS_ALUMNOS_GRPC_PORT=50053
